<STYLE TYPE="text/css">
A
{
    FONT-SIZE: 11px;
    COLOR: #003399;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
A:link
{
    FONT-SIZE: 11px;
    COLOR: #b03d91;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 11px;
    COLOR: #b03d91;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
A:active
{
    FONT-SIZE: 11px;
    COLOR: #b03d91;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #ff6600;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: underline
}
B
{
    FONT-SIZE: 12px;
    COLOR: #336699;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
P
{
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
.copy
{
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
.smlcopy
{
    FONT-SIZE: 9px;
    COLOR: #c6c3c6;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
EM
{
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-STYLE: italic;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
BODY
{
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
TABLE.GENERAL
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
}
TD.CELL
{
    FONT-SIZE: 11px;
    WIDTH: 260px;
    COLOR: #336699;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
TD.HEADERBAND
{
    FONT-SIZE: 11px;
    WIDTH: 260px;
    COLOR: white;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: teal;
    TEXT-DECORATION: none
}
TABLE.INTROPAGE
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
}
TD.INTROCELL
{
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
TD.INTROHEADER
{
    FONT-SIZE: 11px;
    WIDTH: 15%;
    COLOR: white;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: teal;
    TEXT-DECORATION: none
}
TABLE.LAYOUT
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
}
TD.LAYOUTNAV
{
    FONT-SIZE: 11px;
    WIDTH: 20%;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: #eeeeee;
    vertical-align: top;
    padding: 10;
}
TD.LAYOUTCELL
{
    FONT-SIZE: 11px;
    WIDTH: 100%;
    FONT-FAMILY: "Verdana";
    vertical-align: top;
    padding: 10;
}
</STYLE>
